@charset "UTF-8";

// ============================================================
// 変数
// プロジェクト用
// ============================================================


/* 文字色
---------------------------------------- */
// デフォルトカラー
$txt-color-main: #333;
$placeholder-color: #ACACAC;
// 強調カラー
// $txt-color-em: ;

// ブランドカラー
// $brand-color: ;



/* 基準サイズ
---------------------------------------- */
// ブレイクポイント
$bp-desktop-up: 1280;
$bp-tb-port-up: 768;

// スマホデザイン横幅（vw vh変換で使用）
$sp-width: 750;
$sp-height: 1336;
