doctype html
html(lang="ja")
	head(prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/article#")
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="ie=edge")

		title Document
		meta(name="description" content="")
		meta(name="keywords" content="")

		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(name="format-detection" content="telephone=no, address=no, email=no")
		link(rel="shortcut icon" type="image/vnd.microsoft.icon" href="/favicon.ico")
		link(rel="apple-touch-icon" href="../assets/img/webclip.jpg")

		meta(property="og:type" content="article")
		meta(property="og:url" content="")
		meta(property="og:title" content="")
		meta(property="og:site_name" content="")
		meta(property="og:description" content="")
		meta(property="og:image" content="../assets/img/ogp.jpg")
		meta(property="fb:app_id" content="")

		meta(name="twitter:card" content="app")
		meta(name="twitter:site" content="@")
		meta(name="twitter:app:name:iphone" content="")
		meta(name="twitter:app:id:iphone" content="")
		meta(name="twitter:app:name:ipad" content="")
		meta(name="twitter:app:id:ipad" content="")
		meta(name="twitter:app:name:googleplay" content="")
		meta(name="twitter:app:id:googleplay" content="")

		link(rel='stylesheet', href='assets/css/app.css')
		link(rel='stylesheet', href='assets/css/category01/index.css')

		//- for IE
		<!--[if lt IE 9]>
		script(src="../assets/js/html5shiv.js")
		<![endif]-->

	body
		#Page.l-page
			// #Header
			#Header.header
				#gnav.hd-gnav



			// #Content
			main#Content.l-content
				// #Main
				#Main.l-main


				// #Side
				#Side.l-side



		// #Footer
		#Footer.footer
			.ft-copyright: small


	//- script(src="../assets/js/import.js")
